span.figEm.person.active { color: #e31a1c;
                           text-decoration-color: #e31a1c; }

span.figEm.scale.active { color: #e31a1c;
                          text-decoration-color: #e31a1c; }

span.figEm.distribution.active { color: #e31a1c;
                                 text-decoration-color: #e31a1c; }

span.figEm.short.active { color: #e31a1c;
                          text-decoration-color: #e31a1c; }

span.figEm.average.active { color: #e31a1c;
                            text-decoration-color: #e31a1c; }
