span.figEm.active { /* default active text */
  color: #e31a1c;
  text-decoration-color: #d17575;
}

span.figEm.male.active, span.figEm.masculine.active {
  color: #33a02c;
  text-decoration-color: #33a02c;
}

span.figEm.female.active, span.figEm.feminine.active {
  color: #1f78b4;
  text-decoration-color: #1f78b4;
}

span.figEm.intersex.active, span.figEm.intersexCentre.active, span.figEm.intersexSplit.active, span.figEm.nonBinary.active, span.figEm.mixedNonBinary.active, span.figEm.ambiguousNonBinary.active {
  color: #ff7f00;
  text-decoration-color: #ff7f00;
}
